<mat-card>Registration</mat-card>
<div class="container">
  <form class="example-form" [formGroup]="registrationForm" (ngSubmit)="SubmitRegistration()">
    <div class="row">
      <mat-form-field class="example-full-width">
        <input matInput formControlName="firstName" placeholder="First Name">
        <mat-error *ngIf="registrationForm.get('firstName').hasError('required')">
          First name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput formControlName="lastName" placeholder="Last Name">
        <mat-error *ngIf="registrationForm.get('firstName').hasError('required')">
          Last name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput formControlName="email" placeholder="Email">
        <mat-error *ngIf="registrationForm.get('email').hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="registrationForm.get('email').hasError('email')">
          Email is invalid
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="example-full-width">
        <input matInput formControlName="phone" placeholder="Phone" type="number">
        <mat-error *ngIf="registrationForm.get('phone').hasError('required')">
          Phone is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput formControlName="password" placeholder="Password" type="password">
        <mat-error *ngIf="registrationForm.get('password').hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput formControlName="confirmPasword" placeholder="Confirm Pasword" type="password">
        <mat-error *ngIf="registrationForm.get('confirmPasword').hasError('required')">
          Confirm Pasword is required
        </mat-error>
        <mat-error *ngIf="registrationForm.get('confirmPasword').hasError('noMatch')">
          Pasword doesn't match
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">      
        <input type="file" (change)="onFileChanged($event)">       
    </div>
      <div class="form-group">
        <button mat-raised-button color="primary">Submit</button>
      </div>
  </form>
  <div *ngIf="this.ShowHide">
    <mat-spinner></mat-spinner>
  </div>
</div>
