<mat-card>Registration</mat-card>
<div class="container">
  <form class="example-form" [formGroup]="registrationForm" (ngSubmit)="SubmitRegistration()">

    <div class="row">
      <mat-form-field class="example-full-width">
        <input matInput formControlName="firstName" placeholder="First Name" (blur)="logValidationErrors()">
        <mat-error *ngIf="formErrors.firstName">
          {{formErrors.firstName}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput formControlName="lastName" placeholder="Last Name" (blur)="logValidationErrors()">
        <mat-error *ngIf="formErrors.lastName">
          {{formErrors.lastName}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput formControlName="email" placeholder="Email">
        <mat-error *ngIf="formErrors.email" (blur)="logValidationErrors()">
          {{formErrors.email}}
        </mat-error>       
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="example-full-width">
        <input matInput formControlName="phone" placeholder="Phone" type="number" (blur)="logValidationErrors()">
        <mat-error *ngIf="formErrors.phone">
          {{formErrors.phone}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput formControlName="password" placeholder="Password" type="password" (blur)="logValidationErrors()">
        <mat-error *ngIf="formErrors.password">
          {{formErrors.password}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput formControlName="confirmPasword" placeholder="Confirm Pasword" type="password" (blur)="logValidationErrors()">
        <mat-error *ngIf="formErrors.confirmPasword">
          {{formErrors.confirmPasword}}
        </mat-error>        
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Photo</label>
        <input type="file" (change)="onFileChanged($event)">
      </div>
      <div class="col-md-6">
        <label>Portfolio Image (Choose Multiple)</label>
        <input type="file" (change)="onFileChangedMultiple($event)" multiple>
      </div>
    </div>
    <div class="form-group">
      <button mat-raised-button color="primary">Submit</button>
    </div>
  </form>
  <div class="progress form-group" *ngIf="progress > 0">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
    </div>
  </div>
  <!--<div *ngIf="this.ShowHide">
    <mat-spinner></mat-spinner>
  </div>-->
</div>
